body{
	margin: 10% auto;
	width: 500px;
	height: 170px;
}

.div1{
	background-color: grey;
	width: 170px;
	height: 130px;
	margin: auto;
	padding: 20px 90px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.div2{
	background-color: white;
	width: 130px;
	height: 130px;	
	border-radius: 20px;
	padding: 1px 20px;
	color: grey;
	font-family: comic sans ms;
}

.div3{
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 40px;
	margin: 15px auto;
	color: grey;
}